{port_env, [{"DRV_CFLAGS", "--std=c++11 $DRV_CFLAGS -I/usr/local/include/mongocxx/v_noabi  -I/usr/local/include/bsoncxx/v_noabi "},
  {"DRV_LDFLAGS", "$DRV_LDFLAGS -L/usr/local/lib -lmongocxx -lbsoncxx"}]}.

{port_specs, [
  {"priv/emongo.so", ["c_src/*.cpp"]}
]}.

{deps, [
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy", {tag, "1.4.2"}}}
]}.
