%%%----------------------------------------------------------------------
%%% File    : rebar.config
%%% Author  : Jeet Parmar <jeet@glabbr.com>
%%% Purpose : Rebar build script. Compliant with rebar and rebar3.
%%% Created : 15 Dec 2018 by Jeet Parmar <jeet@glabbr.com>
%%%
%%% Copyright (C) 2002-2019 Glabbr India Pvt. Ltd. All Rights Reserved.
%%%
%%% Licensed under the GNU GPL License, Version 3.0 (the "License");
%%% you may not use this file except in compliance with the License.
%%% You may obtain a copy of the License at
%%%
%%%     https://www.gnu.org/licenses/gpl-3.0.en.html
%%%
%%% Unless required by applicable law or agreed to in writing, software
%%% distributed under the License is distributed on an "AS IS" BASIS,
%%% WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
%%% See the License for the specific language governing permissions and
%%% limitations under the License.
%%%
%%%----------------------------------------------------------------------

{erl_opts, [debug_info, {src_dirs, ["src"]}]}.

{port_env, [{"DRV_CFLAGS", "--std=c++11 $DRV_CFLAGS -I/usr/local/include/mongocxx/v_noabi  -I/usr/local/include/bsoncxx/v_noabi "},
  {"DRV_LDFLAGS", "$DRV_LDFLAGS -L/usr/local/lib -lmongocxx -lbsoncxx"}]}.

{port_specs, [
  {"priv/emongo.so", ["c_src/*.cpp"]}
]}.

{deps, [
  {poolboy, ".*", {git, "https://github.com/devinus/poolboy", {tag, "1.5.2"}}}
]}.
